* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    text-align: center;
}

h1 {
    font-family: 'Kufam', cursive;
    font-size: 4rem;
}

a {
    font-family: 'Red Rose', cursive;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 20%;
    display: flex;
    justify-content: space-around;
}